/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
  --light-blue: #7395AE;
  --dark-blue: #557A95;
  --dark-grey: #5D5C61;
  --light-grey: #938E93;
  --tan: #B1A296;
}

/* *,
*:before,
*:after {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: 'Chivo Mono', monospace;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  background-color: var(--tan-2);
  height: 100vh;
}
  /* padding: 2vmin; */
  /* height: 100%; */

/* main {
  margin: 0;
  display: grid;
} */

.checklist-name {

  /* display: grid; */
  /* margin: 10%; */
  padding: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.reset-btn {
  height:fit-content;
  background-color: rgb(199, 8, 8);
  color: white;
  font-family: 'Chivo Mono', monospace;
  max-width: fit-content;
  border: solid black 2px;
}

/* 
#root {
  height: 100%;
} */

p.error-message {
  color: var(--dark-grey);
  text-align: center;
}

.terminal-command {
  font-weight: bolder;
  text-decoration: underline
}

.home-page-box {
  background-color: rgb(197, 192, 192);
  display: grid;
  place-items: center;
  margin: 5% 20% 5% 20%;
  border-radius: 15px;
  border: solid black 2px;
  /* max-width: 45%; */
}

.home-page-box-button {
  background-color: var(--dark-blue);
  margin: 1%;
  border: solid black 2px;
  border-radius: 15px;
  min-width: 15vw;
  max-width: 20vw;
  font-family: 'Chivo Mono', monospace;
  color: black;
}

.home-page-box-button:hover {
  background-color: var(--light-grey);
  margin: 1%;
  border: solid grey 2px;
  min-width: 15vw;
  max-width: 20vw;
  font-family: 'Chivo Mono', monospace;
  color: black;
}

.step-card {
  color: black;
  border: solid black 2px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  /* width: 50%;
  height:  50%; */
  background-color: var(--light-grey);
  /* background-color: whitesmoke; */
}

.checklist-box {
  display: grid;
  /* grid-template-rows: repeat(autofill); */
  /* grid-template-columns: repeat(2, 3fr); */
  border: solid black 2px;
  margin: 10px;
  padding: 1rem;
  /* background-color: var(--dark-blue); */
  border-radius: 15px;
}

.add-item-form {
  border: solid black 2px;
  margin: 1rem;
  padding: 1rem;
}

/* footer {
position:static;
left:0;
bottom:0;
right:0;
} */

button {
  margin: 5px;
  border-radius: 5px;
}

form>button {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

header {
  background-color: var(--dark-blue);
  border-bottom: solid black 2px;
  padding: 1%;
  margin: 0;
}

nav {
  margin: 0;
}

.home-button {
  width: 25%;
  background-color: var(--light-blue);
}

ul {
  list-style: none;
}

/* label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
} */

/* input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; 
  outline: none;
} */
/* prevent lastpass */

/* input:focus {
  border-color: var(--orange);
} */

/* button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
} */

/* button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
} */