
footer {
  justify-self: auto;
  height: 5%;
  position: fixed;
  background-color: #A0A6B1;
  border-top: solid white 2px;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 20px;
}

footer>div {
  align-items: center;
  margin: 10px 2% 0px auto;
}